<audio id="track">
    <source src="http://dosh.dk/bb/track.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<h1>Strem Music</h1>
<div></div>
<div class="card">
    <div class="card-image"></div>
    <div class="card-slider">
        <div class="progress-bar" id="loading"></div>
    </div>
    <div class="card-content">
        <div class="times">
            <div class="left" id="time"></div>
            <div class="right">3:57</div>
        </div>
        <div class="player">
            <button class="play left" id="play">
                <i class="material-icons">play_arrow</i>
                <span>| |</span>
            </button>
            <div class="left">
                <div class="song-title">Is This Love</div>
                <div class="song-artist">Bob Marley</div>
            </div>
            <div class="right">
                <i class="material-icons">fast_forward</i>
            </div>
            <div class="right">
                <i class="material-icons">fast_rewind</i>
            </div>
            <div class="right">
                <i class="material-icons">repeat</i>
            </div>
        </div>
    </div>
</div>