<div class="login">
    <div class="login-screen">
        <form>
            <div class="app-title">
                <h1>Register</h1>
            </div>
            <div class="control-group"><input type="text" class="login-field" name="firstname"
                                              placeholder="First Name"/></div>
            <div class="control-group"><input type="text" class="login-field" name="lastname" placeholder="Last Name"/>
            </div>
            <div class="control-group"><input type="text" class="login-field" name="email" placeholder="E-mail"/></div>
            <div class="control-group"><input type="text" class="login-field" name="username" placeholder="Username"/>
            </div>
            <div class="control-group"><input type="password" class="login-field" name="password"
                                              placeholder="Password"/></div>
            <a class="btn btn-primary btn-large btn-block" id="register">SUBMIT</a>
        </form>
    </div>
</div>